In [2]:
import pandas as pd
import numpy as np

In [3]:
job_fare_df = pd.read_csv('hiring_data.csv')

In [8]:
job_fare_df = job_fare_df.dropna(thresh=5)

In [9]:
job_fare_df = job_fare_df.drop_duplicates()

In [10]:
job_fare_df['degree_b'] = job_fare_df['degree_b'].replace({ 'C&M': 'Comm&Mgmt', 'S&T': 'Sci&Tech' })

discretize the values of the column etest_p into three quantiles, ['Low', 'Average', 'High'], and store the result in a new column, etest_c.

In [14]:
job_fare_df['etest_p'].describe()

count    93.000000
mean     72.374409
std      13.020782
min      50.000000
25%      63.000000
50%      69.000000
75%      84.000000
max      97.400000
Name: etest_p, dtype: float64

## Dividing into 4 quantiles.

In [23]:
bin_labels=['Low', 'Average', 'High']
job_fare_df['etest_c'] = pd.qcut(job_fare_df['etest_p'], q=3, labels=bin_labels)

In [27]:
job_fare_df[job_fare_df['etest_c'] == 'High']['etest_c'].count()

31

In [31]:
job_fare_df[(job_fare_df['etest_c'] == 'Low') & (job_fare_df['status'] == 'Placed')]['status'].count()

22

## Average salary of high scoring students

What is the average salary of students who scored high on their employability test (rounded to 2 decimal places)?

In [35]:
round(job_fare_df[job_fare_df['etest_c'] == 'High']['salary'].mean(), 2)

140385.19

### Filling NaN values

- 
Fill in all the NaN values in the salary column with the average salary of their respective quartile (e.g., the NaN salary of a student who scored low should be filled in with the average salary of all the students who scored low on the employability test).
-  After filling in these values, what is the average salary of all the students?

In [36]:
salary_mean_value = job_fare_df['salary'].mean()

In [43]:
for bin in bin_labels:
    job_fare_df.loc[job_fare_df['etest_c'] == bin, 'salary'].fillna(value=job_fare_df.loc[job_fare_df['etest_c'] == bin, 'salary'].mean(), inplace=True)

2     125000.000000
6     127517.647059
7     125200.000000
13    121800.000000
14    127517.647059
15    120000.000000
18    127517.647059
28    126500.000000
29    145000.000000
36    127517.647059
37    130000.000000
48    127517.647059
53    127517.647059
54    127517.647059
57    122000.000000
59    124000.000000
61    126800.000000
66    127517.647059
69    127500.000000
70    127500.000000
72    127500.000000
78    127517.647059
80    150000.000000
82    127517.647059
83    124000.000000
89    122000.000000
91    127517.647059
93    127517.647059
94    123000.000000
95    127517.647059
Name: salary, dtype: float64

In [44]:
job_fare_df.loc[job_fare_df['etest_c'] == 'Average', 'salary']

2     125000.0
6          NaN
7     125200.0
13    121800.0
14         NaN
15    120000.0
18         NaN
28    126500.0
29    145000.0
36         NaN
37    130000.0
48         NaN
53         NaN
54         NaN
57    122000.0
59    124000.0
61    126800.0
66         NaN
69    127500.0
70    127500.0
72    127500.0
78         NaN
80    150000.0
82         NaN
83    124000.0
89    122000.0
91         NaN
93         NaN
94    123000.0
95         NaN
Name: salary, dtype: float64