## Problem Statement:
You work for an e-commerce company. On the first day of the new quarter, you store transaction details of the products your company sold in two arrays.

In [1]:
import numpy as np

num_units_sold  = np.array([8, 9, 9, 1, 6, 9, 5, 7, 3, 9, 7, 3, 4, 8, 3, 5, 8, 4, 8, 7, 5, 7, 3, 6, 1, 2, 7, 4, 7, 7, 8, 4, 3, 4, 2, 2, 2, 7, 3, 5, 6, 1, 1, 3, 2, 1, 1, 7, 7, 1, 4, 4, 5, 6, 1, 2, 7, 4, 5, 8, 1, 4, 8, 6, 2, 4, 3, 7, 3, 6, 2, 3, 3, 3, 2, 4, 6, 8, 9, 3, 9, 3, 1, 8, 6, 6, 3, 3, 9, 4, 6, 4, 9, 6, 7, 1, 2, 8, 7, 8, 1, 4])
unit_price  = np.array([195, 225, 150, 150, 90, 60, 75, 255, 270, 225, 135, 195, 30, 15, 210, 105, 15, 30, 180, 60, 165, 60, 45, 225, 180, 90, 30, 210, 150, 15, 270, 60, 210, 180, 60, 225, 150, 150, 120, 195, 75, 240, 60, 45, 30, 180, 240, 285, 135, 165, 180, 240, 60, 105, 165, 240, 120, 45, 120, 165, 285, 225, 90, 105, 225, 45, 45, 45, 75, 180, 90, 240, 30, 30, 60, 135, 180, 15, 255, 180, 270, 135, 105, 135, 210, 180, 135, 195, 225, 75, 225, 15, 240, 60, 15, 180, 255, 90, 15, 150, 230, 150])

The first array “num_units_sold” contains the number of units sold for each product.
The second array “unit_price” contains the price for each corresponding product.

Below is a visual representation of the information in the arrays:

![picture](https://drive.google.com/uc?id=1PusJv3SBbemoQM_C9WZPbjTV1uGoMVZJ)


> For example: Product 1, represented by the first element in both arrays, num_units_sold and unit_price, sold 8 times and was priced at $195. 


Use these arrays to solve the questions provided below.

**Q1:** How many unique products did the website sell on the first day of the new quarter?

[Hint: Each element in the array num_units_sold is a unique product.]


a)  99

b)  100

c)  101

d)  102

In [4]:
# Type your code here
print(f"The number of unique products sold on the first day of the new quarter is: ${num_units_sold.size}")

The number of unique products sold on the first day of the new quarter is: $102

**Q2:** What was the total number of units sold?

a)  460

b)  490

c)  500

d)  520

In [5]:
# Type your code here
num_units_sold.sum()

490

**Q3:** What was the price of the highest-priced product?


a)  \$225

b)  \$310

c)  \$280

d)  \$285

In [6]:
# Type your code here
unit_price.max()

285

**Q4:** What was the total revenue on the first day of the new quarter? (where revenue = price*quantity)

a)  \$67100

b)  \$53900

c)  \$45300

d)  \$71200

In [8]:
# Type your code here
(num_units_sold * unit_price).sum()

67100

**Q5:** Demand (i.e., number of units sold) for the 20th product is higher than for the 50th product. [True/False]

a)  True

b)  False

In [10]:
# Type your code here
(num_units_sold[19] > num_units_sold[49])

True

**Q6:** How many products fall under the category of expensive goods?
An expensive good is one that is priced higher than $150.


a)  48

b)  50

c)  45

d)  54

In [18]:
# Type your code here
unit_price[np.where(unit_price > 150)].size

45