## Problem Statement:

Let’s revisit the meteorologist example. You maintain the hourly amount of rainfall in millimeters for weekdays and weekends, each in separate 2-D arrays, as given below:

In [ ]:
import numpy as np

rain_mm_by_hour_weekdays = np.array([[3, 0, 4, 0, 3, 0, 1, 4, 2, 2, 0, 5, 0, 4, 1, 0, 0, 3, 6, 0, 0, 0, 0,0],
                                  	 [1, 4, 0, 0, 1, 0, 0, 1, 5, 0, 0, 3, 6, 0, 0, 0, 7, 4, 0, 2, 4, 0, 3, 0],
                                  	 [0, 0, 4, 0, 0, 6, 0, 0, 1, 0, 7, 7, 6, 4, 6, 1, 2, 0, 0, 0, 0, 0, 4, 2],
                                     [2, 0, 0, 5, 0, 0, 0, 2, 0, 0, 5, 1, 3, 3, 2, 0, 0, 0, 2, 0, 5, 5, 0, 0],
                                     [5, 5, 1, 0, 0, 0, 0, 5, 6, 0, 0, 2, 0, 2, 0, 0, 3, 4, 0, 6, 4, 0, 0, 3]])


rain_mm_by_hour_weekend = np.array([[0, 5, 7, 6, 5, 2, 0, 5, 0, 0, 0, 0, 1, 0, 3, 0, 6, 0, 0, 1, 5, 0, 0,0],
                                    [0, 5, 6, 0, 1, 5, 0, 0, 2, 4, 0, 0, 0, 0, 5, 0, 0, 3, 0, 0, 0, 7, 3, 0]])

The hour of the day is represented by the column index (index 0 corresponds to 00:00 to 00:59; index 1 corresponds to 01:00 to 01:59), and the weekday number is represented by the row index (Mon = 0, Tue = 1…).

Combine both arrays to form a new array rain_mm_by_hour_for_1week. Use this array to answer the questions that follow.

**Q1:** What is the average amount of rainfall for hour 11 (11:00–11:59) for each day of the week? (Round off to one place after the decimal.)

a) 2.3 mm

b) 3.5 mm

c) 2.6 mm

d) 1.7 mm

In [ ]:
# write your code here

**Q2**:  The average amount of rainfall for the week’s weekdays is greater than the weekend. [True/False]

a) True

b) False

In [ ]:
# write your code here

**Q3.** What is the total number of hours with a rainfall of 0 mm?
a) 88 

b) 85

c) 90

d) None of the above

In [ ]:
# write your code here