# Handling Duplicate Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame([('Allen Iverson', 'The Answer'), ('Earvin Johnson', 'Magic'), ('Michael Jordan', 'Air Jordan'),
                    ('Rodney Hundley', 'Hot Rod'), ('John Williams', 'Hot Rod'),
                    ('George Gervin', 'Iceman'), ('Michael Jordan', 'Air Jordan'),
                    ('John Salley', 'Spider'), ('Jerry Sloan', 'Spider'),
                    ('Charles Barkley', 'The Chuckster')],
                   columns=['Player', 'Nickname'])

### Using the `duplicated()` method.

In [3]:
df1

            Player       Nickname
0    Allen Iverson     The Answer
1   Earvin Johnson          Magic
2   Michael Jordan     Air Jordan
3   Rodney Hundley        Hot Rod
4    John Williams        Hot Rod
5    George Gervin         Iceman
6   Michael Jordan     Air Jordan
7      John Salley         Spider
8      Jerry Sloan         Spider
9  Charles Barkley  The Chuckster

In [6]:
df1.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
9    False
dtype: bool

In [7]:
df1.duplicated(subset='Nickname')

0    False
1    False
2    False
3    False
4     True
5    False
6     True
7    False
8     True
9    False
dtype: bool

In [9]:
df1.duplicated(subset='Player')

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
9    False
dtype: bool

## Dropping Duplicates

In [14]:
df1.drop_duplicates(subset='Nickname', keep='first')

            Player       Nickname
0    Allen Iverson     The Answer
1   Earvin Johnson          Magic
2   Michael Jordan     Air Jordan
3   Rodney Hundley        Hot Rod
5    George Gervin         Iceman
7      John Salley         Spider
9  Charles Barkley  The Chuckster