### Practice Problem

In [2]:
import pandas as pd
import numpy as np

In [3]:
product_sales = pd.DataFrame({'Monday': [32, 152, 94, 0], 'Tuesday': [45, 109, 114, 0], \
                             'Wednesday': [15, 77, 85, 0], 'Thursday': [29, 85, 132, 0], \
                             'Friday': [63, 143, 101, 15], 'Saturday': [87, 211, 186, 25]}, \
                             index=['Cupcakes', 'Pie Slices', 'Brownies', 'Cookies'])

Generate descriptive statistics for the entire DataFrame.

In [4]:
product_sales.describe()

          Monday     Tuesday  Wednesday    Thursday      Friday    Saturday
count    4.00000    4.000000   4.000000    4.000000    4.000000    4.000000
mean    69.50000   67.000000  44.250000   61.500000   80.500000  127.250000
std     67.43639   54.607692  42.999031   58.767905   54.537449   86.680928
min      0.00000    0.000000   0.000000    0.000000   15.000000   25.000000
25%     24.00000   33.750000  11.250000   21.750000   51.000000   71.500000
50%     63.00000   77.000000  46.000000   57.000000   82.000000  136.500000
75%    108.50000  110.250000  79.000000   96.750000  111.500000  192.250000
max    152.00000  114.000000  85.000000  132.000000  143.000000  211.000000

What is the total number of products sold on each day?

In [6]:
product_sales.describe().loc["count"]

Monday       4.0
Tuesday      4.0
Wednesday    4.0
Thursday     4.0
Friday       4.0
Saturday     4.0
Name: count, dtype: float64

For each type of product how many were sold across the week?

In [35]:
product_sales.apply(pd.DataFrame.describe, axis=1)

            count        mean        std   min    25%    50%     75%    max
Cupcakes      6.0   45.166667  26.125977  15.0  29.75   38.5   58.50   87.0
Pie Slices    6.0  129.500000  49.974994  77.0  91.00  126.0  149.75  211.0
Brownies      6.0  118.666667  36.843814  85.0  95.75  107.5  127.50  186.0
Cookies       6.0    6.666667  10.801234   0.0   0.00    0.0   11.25   25.0

In [36]:
product_sales.sum()

Monday       278
Tuesday      268
Wednesday    177
Thursday     246
Friday       322
Saturday     509
dtype: int64

For the product type that sold the most across the week, how many were sold?

In [46]:
product_sales.apply(pd.DataFrame.describe, axis=1)

            count        mean        std   min    25%    50%     75%    max
Cupcakes      6.0   45.166667  26.125977  15.0  29.75   38.5   58.50   87.0
Pie Slices    6.0  129.500000  49.974994  77.0  91.00  126.0  149.75  211.0
Brownies      6.0  118.666667  36.843814  85.0  95.75  107.5  127.50  186.0
Cookies       6.0    6.666667  10.801234   0.0   0.00    0.0   11.25   25.0

In [47]:
product_sales.sum(axis=1)

Cupcakes      271
Pie Slices    777
Brownies      712
Cookies        40
dtype: int64

Challenge: For the product type that sold the most across the week, list the name of the product and the number sold.

In [65]:
product_sales[product_sales.sum(axis=1) == product_sales.sum(axis=1).max()].sum(axis=1)

Pie Slices    777
dtype: int64