### Practice Problem â€“ Sorting and Ranking

In [2]:
import pandas as pd
import numpy as np

In [3]:
temps = {'Mon': [68, 89], 'Tue': [71, 93], 'Wed': [66, 82], 'Thu': [75, 97], 'Fri': [62, 79]}

1. Create a DataFrame to correctly represent this data with appropriate indexing. Print the resulting DataFrame.

In [5]:
df = pd.DataFrame(temps, index=["low", "high"])
df

      Mon  Tue  Wed  Thu  Fri
low    68   71   66   75   62
high   89   93   82   97   79

2. Print the temperatures only from Monday through Wednesday using two different techniques (functions)

In [18]:
df.loc[:, [True, True, True, False, False]]

      Mon  Tue  Wed
low    68   71   66
high   89   93   82

In [ ]:
df

3. Print the high temperatures for all days.

In [33]:
df.sort_values(by="high", ascending=False, axis=1).loc["high"]

Thu    97
Tue    93
Mon    89
Wed    82
Fri    79
Name: high, dtype: int64

4. Determine the average low and high temperature for the week.

In [42]:
df.apply(pd.DataFrame.describe, axis=1)["mean"]

low     68.4
high    88.0
Name: mean, dtype: float64

In [44]:
df.mean(axis=1)

low     68.4
high    88.0
dtype: float64

5. Print the temperatures of days where the high temperature is over 85.

In [63]:
df.loc['high', df.loc['high'] > 85]

Mon    89
Tue    93
Thu    97
Name: high, dtype: int64

6. Sort the temperatures by Thursday's temperatures in descending order.

In [64]:
df.sort_values(by="Thu", ascending=False)

      Mon  Tue  Wed  Thu  Fri
high   89   93   82   97   79
low    68   71   66   75   62

7. For all low temperatures, rank the day in order from 1 to 5 from lowest to highest temperature.

In [68]:
df.loc["low"].rank(method="min")

Mon    3.0
Tue    4.0
Wed    2.0
Thu    5.0
Fri    1.0
Name: low, dtype: float64