# Comprehension: Average Salary!

Let us revisit our job fair problem. You notice that there are still many inconsistencies in the data even after removing missing values. \
Your task is to remove these inconsistencies and find the average salary of the students.

In [1]:
import pandas as pd
import numpy as np

In [58]:
hiring_data_df = pd.read_csv('hiring_data.csv')

In [59]:
hiring_data_cl_df = hiring_data_df.dropna(thresh=5)

### Filter Duplicate Values

Previously, you calculated the average salary of the students who are hired after removing the rows that had more than 4 missing values \
 However, there are some duplicate rows in the data \
 What is the average salary of the students after filtering out the duplicate observations as well? (Rounded off to the nearest two decimal places)

In [60]:
hiring_data_cl_df = hiring_data_cl_df.drop_duplicates()

### Replace The Values.

- There are supposed to be only 3 categories in the column degree_b
    - Sci&Tech
    - Comm&Mgmt
    - Others
 
- Some entries under the categories 'Sci&Tech' and 'Comm&Mgmt' have been formatted as the abbreviations of these categories, 'S&T' and 'C&M' respectively.
- This formatting errors add 2 new categories to the ___degree_b___ column.

Replace the abbreviations with the full forms of the corresponding categories such that entire column contains only three different categories.

After this operation, what is the average salary of the students who had 'Sci&Tech' degrees?

In [61]:
hiring_data_cl_df['degree_b'] = hiring_data_cl_df['degree_b'].replace({ 'C&M': 'Comm&Mgmt', 'S&T': 'Sci&Tech' })

In [63]:
round(hiring_data_cl_df[hiring_data_cl_df['degree_b'] == 'Sci&Tech']['salary'].mean(), 2)

139017.65