# Filtering Missing Values

by `dropna()`

In [1]:
import pandas as pd
import numpy as np

In [3]:
ser1 = pd.Series([1, 2, np.nan, -4, np.nan])

In [4]:
ser1.dropna(inplace=True)

In [5]:
ser1

0    1.0
1    2.0
3   -4.0
dtype: float64

#### By Boolean Indexing

In [6]:
ser2 = pd.Series([1, 2, np.nan, -4, np.nan])
ser2

0    1.0
1    2.0
2    NaN
3   -4.0
4    NaN
dtype: float64

In [7]:
ser2.notnull()

0     True
1     True
2    False
3     True
4    False
dtype: bool

In [8]:
ser2[ser2.notnull()]

0    1.0
1    2.0
3   -4.0
dtype: float64

- __ser.dropna()__ is used to directly drop all null values from a Series. If the argument inplace = True has been specified, the original series will be edited. 
- __ser[ser.notnull()]__ is used to generate a Boolean value indicating whether each value in a Series is null. It then filters the Series via Boolean indexing.