# Practice Problem

consider the following data set, which is recorded by a supervisor at a manufacturing plant. \
It represents the daily production output for a workweek (Monday through friday):
- Week 1: 48, 62, 79, 57, 58.
- Week 2: Not recorded, 68, 71, 42, 41.
- Week 3: 91, 87, Not recorded, 62, Not recorded.

In [86]:
import pandas as pd
import numpy  as np

### Question 1
For each week, list each day along with its production output or write NaN if production was not recorded for a particular day.

In [87]:
days=['mon', 'tue', 'wed', 'thu', 'fri']
week_day_data = {
    'week_1': [48, 62, 79, 57, 58],
    'week_2': [np.nan, 68, 71, 42, 41] ,
    'week_3': [91, 87, np.nan, 62, np.nan]
}
work_week_df = pd.DataFrame(week_day_data, index=days)

In [88]:
for week in work_week_df.columns:
    print(f"*** {week} ***")
    print(f"{work_week_df[week]}\n")

*** week_1 ***
mon    48
tue    62
wed    79
thu    57
fri    58
Name: week_1, dtype: int64

*** week_2 ***
mon     NaN
tue    68.0
wed    71.0
thu    42.0
fri    41.0
Name: week_2, dtype: float64

*** week_3 ***
mon    91.0
tue    87.0
wed     NaN
thu    62.0
fri     NaN
Name: week_3, dtype: float64

### Question 2

For each week, list the days for which there are recorded values.

In [96]:
for week in work_week_df.columns:
    print(f"*** {week} ***")
    print(work_week_df[week][work_week_df[week].isnull() == False])
    print("\n")

*** week_1 ***
mon    48
tue    62
wed    79
thu    57
fri    58
Name: week_1, dtype: int64


*** week_2 ***
tue    68.0
wed    71.0
thu    42.0
fri    41.0
Name: week_2, dtype: float64


*** week_3 ***
mon    91.0
tue    87.0
thu    62.0
Name: week_3, dtype: float64

### Question 3

For weeks with missing values, implement a method to impute these values. Justify your method.

In [48]:
work_week_df['week_2'].fillna(method='bfill', inplace=True)
work_week_df['week_2']

mon    68.0
tue    68.0
wed    71.0
thu    42.0
fri    41.0
Name: week_2, dtype: float64

In [49]:
work_week_df['week_3'].fillna(method='ffill', inplace=True)
work_week_df['week_3']

mon    91.0
tue    87.0
wed    87.0
thu    62.0
fri    62.0
Name: week_3, dtype: float64