### Practice Problem

In [1]:
import pandas as pd
import numpy as np

In [3]:
product_sales_df = pd.DataFrame({'Monday': [np.nan, 152, 94,np.nan], 'Tuesday': [45, 109, 114,np.nan], \
                             'Wednesday': [np.nan,np.nan,np.nan,np.nan], 'Thursday': [29, 85, 132, np.nan], \
                             'Friday': [63, 143, 101, 15], 'Saturday': [87, 211, 186, 25]}, \
                             index=['Cupcakes', 'Pie Slices', 'Brownies', 'Cookies'])

In [4]:
product_sales_df

            Monday  Tuesday  Wednesday  Thursday  Friday  Saturday
Cupcakes       NaN     45.0        NaN      29.0      63        87
Pie Slices   152.0    109.0        NaN      85.0     143       211
Brownies      94.0    114.0        NaN     132.0     101       186
Cookies        NaN      NaN        NaN       NaN      15        25

### Question 1

For each day of the week, find the number of missing data points.

In [7]:
product_sales_df.isnull().sum()

Monday       2
Tuesday      1
Wednesday    4
Thursday     1
Friday       0
Saturday     0
dtype: int64

### Question 2

For each product, find the number of missing data points.

In [9]:
product_sales_df.isnull().sum(axis=1).sort_values(ascending=False)

Cookies       4
Cupcakes      2
Pie Slices    1
Brownies      1
dtype: int64

### Question 3

Give a reasonable explanation for why Wednesday does not have any data points. No code is required.

Ans: There maybe a holiday on wednesday so the Store was closed.

### Question 4

Show the days of the week on which at least 3 different products were sold.

In [52]:
product_sales_df.loc[:, (product_sales_df.isnull().sum() <= 1)]

            Tuesday  Thursday  Friday  Saturday
Cupcakes       45.0      29.0      63        87
Pie Slices    109.0      85.0     143       211
Brownies      114.0     132.0     101       186
Cookies         NaN       NaN      15        25

In [53]:
product_sales_df.dropna(thresh=3, axis=1)

            Tuesday  Thursday  Friday  Saturday
Cupcakes       45.0      29.0      63        87
Pie Slices    109.0      85.0     143       211
Brownies      114.0     132.0     101       186
Cookies         NaN       NaN      15        25

### Question 5

Find the product(s) that were sold on Thursday and Friday.

In [51]:
product_sales_df.loc[product_sales_df[['Thursday', 'Friday']].notnull().all(axis=1), ['Thursday', 'Friday']]

            Thursday  Friday
Cupcakes        29.0      63
Pie Slices      85.0     143
Brownies       132.0     101