### Replace Values.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame([('Allen Iverson', 'The Answer'), ('Earvin Johnson', 'Magic'), ('Michael Jordan', 'Air Jordan'),
                    ('Rodney Hundley', 'Hot Rod'), ('John Williams', 'Hot Rod'),
                    ('George Gervin', 'Iceman'), ('Michael Jordan', 'Air Jordan'),
                    ('John Salley', 'Spider'), ('Jerry Sloan', 'Spider'),
                    ('Charles Barkley', 'The Chuckster')],
                   columns=['Player', 'Nickname'])

using `replace()`

In [3]:
df1.replace(['Hot Rod', 'Spider'], '***Duplicated***')

            Player          Nickname
0    Allen Iverson        The Answer
1   Earvin Johnson             Magic
2   Michael Jordan        Air Jordan
3   Rodney Hundley  ***Duplicated***
4    John Williams  ***Duplicated***
5    George Gervin            Iceman
6   Michael Jordan        Air Jordan
7      John Salley  ***Duplicated***
8      Jerry Sloan  ***Duplicated***
9  Charles Barkley     The Chuckster

In [4]:
translation = {
    'The Answer': "AI",
    'Air Jordan': 'MJ',
    'The Chuckster': 'The Round Mound of Rebound'
}

In [5]:
df1.replace(translation)

            Player                    Nickname
0    Allen Iverson                          AI
1   Earvin Johnson                       Magic
2   Michael Jordan                          MJ
3   Rodney Hundley                     Hot Rod
4    John Williams                     Hot Rod
5    George Gervin                      Iceman
6   Michael Jordan                          MJ
7      John Salley                      Spider
8      Jerry Sloan                      Spider
9  Charles Barkley  The Round Mound of Rebound

### Replacing Values using Map

In [11]:
df1['Nickname'] = df1['Nickname'].map(lambda x: translation.get(x, x))

In [12]:
df1['Nickname']

0                            AI
1                         Magic
2                            MJ
3                       Hot Rod
4                       Hot Rod
5                        Iceman
6                            MJ
7                        Spider
8                        Spider
9    The Round Mound of Rebound
Name: Nickname, dtype: object