In [12]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import HTML

In [2]:
df = pd.read_csv('superstore.csv')

In [5]:
df.columns

Index(['Order ID', 'Ship Mode', 'Segment', 'Region', 'Product ID', 'Sales',
       'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [7]:
df.head()

,Order ID,Ship Mode,Segment,Region,Product ID,Sales,Quantity,Discount,Profit
0,CA-2016-152156,Second Class,Consumer,South,FUR-BO-10001798,261.9600,2,0%,41.9136
1,CA-2016-152156,Second Class,Consumer,South,FUR-CH-10000454,731.9400,3,0%,219.5820
2,CA-2016-138688,Second Class,Corporate,West,OFF-LA-10000240,14.6200,2,0%,6.8714
3,US-2015-108966,Standard Class,Consumer,South,FUR-TA-10000577,957.5775,5,0.45%,-383.0310
4,US-2015-108966,Standard Class,Consumer,South,OFF-ST-10000760,22.3680,2,0.20%,2.5164

In [13]:
def describe_numerical_data(df: pd.DataFrame):
    numerical_data = df.select_dtypes(include=[np.number])
    description = numerical_data.describe()
    return description

def display_scrollable_table_html(description):
    html_output = description.to_html()
    html_with_scroll = f"<div style='overflow-x: auto;'>{html_output}</div>"
    display(HTML(html_with_scroll))

In [9]:
numerical_description_df = describe_numerical_data(df)

In [11]:
numerical_description_df.T

,count,mean,std,min,25%,50%,75%,max
Sales,9994.0,229.858001,623.245101,0.444,17.28000,54.4900,209.940,22638.480
Quantity,9994.0,3.789574,2.225110,1.000,2.00000,3.0000,5.000,14.000
Profit,9994.0,28.656896,234.260108,-6599.978,1.72875,8.6665,29.364,8399.976