In [45]:
import pandas as pd
import numpy as np

In [64]:
job_fare_df = pd.read_csv('hiring_data.csv')

In [65]:
job_fare_df = job_fare_df.dropna(thresh=5)

In [66]:
job_fare_df = job_fare_df.drop_duplicates()

In [67]:
job_fare_df['degree_b'] = job_fare_df['degree_b'].replace({ 'C&M': 'Comm&Mgmt', 'S&T': 'Sci&Tech' })

discretize the values of the column etest_p into three quantiles, ['Low', 'Average', 'High'], and store the result in a new column, etest_c.

In [68]:
job_fare_df['etest_p'].describe()

count    93.000000
mean     72.374409
std      13.020782
min      50.000000
25%      63.000000
50%      69.000000
75%      84.000000
max      97.400000
Name: etest_p, dtype: float64

## Dividing into 4 quantiles.

In [69]:
bin_labels=['Low', 'Average', 'High']
job_fare_df['etest_c'] = pd.qcut(job_fare_df['etest_p'], q=3, labels=bin_labels)

In [70]:
job_fare_df[job_fare_df['etest_c'] == 'High']['etest_c'].count()

31

In [71]:
job_fare_df[(job_fare_df['etest_c'] == 'Low') & (job_fare_df['status'] == 'Placed')]['status'].count()

22

## Average salary of high scoring students

What is the average salary of students who scored high on their employability test (rounded to 2 decimal places)?

In [72]:
round(job_fare_df[job_fare_df['etest_c'] == 'High']['salary'].mean(), 2)

140385.19

### Filling NaN values

- 
Fill in all the NaN values in the salary column with the average salary of their respective quartile (e.g., the NaN salary of a student who scored low should be filled in with the average salary of all the students who scored low on the employability test).
-  After filling in these values, what is the average salary of all the students?

In [85]:
salary_mean_value = job_fare_df['salary'].mean()

In [86]:
for bin in bin_labels:
    mean_value = job_fare_df.loc[job_fare_df['etest_c'] == str(bin), 'salary'].mean()
    print(mean_value)
    job_fare_df.loc[job_fare_df['etest_c'] == bin, 'salary'] = job_fare_df.loc[job_fare_df['etest_c'] == bin, 'salary'].fillna(value=mean_value)

122004.34782608696
127517.64705882352
140385.1851851852

In [89]:
round(job_fare_df['salary'].mean(), 2)

130442.65