In [1]:
import pandas as pd
import numpy as np

In [3]:
games_df = pd.read_csv('video-game-sales.csv')

In [7]:
games_df.set_index('Rank', inplace=True)

In [9]:
games_df.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
Rank,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00

In [10]:
games_df['Year'].describe()

count    16327.000000
mean      2006.406443
std          5.828981
min       1980.000000
25%       2003.000000
50%       2007.000000
75%       2010.000000
max       2020.000000
Name: Year, dtype: float64

In [12]:
bins = np.linspace(start=games_df['Year'].min() - 5, stop=games_df['Year'].max(), num=10)

In [13]:
bins

array([1975., 1980., 1985., 1990., 1995., 2000., 2005., 2010., 2015.,
       2020.])

In [14]:
games_df['Year bin'] = pd.cut(games_df['Year'], bins)

In [16]:
games_df[['Name', 'Platform', 'Year bin']]

,Name,Platform,Year bin
Rank,,,
1,Wii Sports,Wii,"(2005.0, 2010.0]"
2,Super Mario Bros.,NES,"(1980.0, 1985.0]"
3,Mario Kart Wii,Wii,"(2005.0, 2010.0]"
4,Wii Sports Resort,Wii,"(2005.0, 2010.0]"
5,Pokemon Red/Pokemon Blue,GB,"(1995.0, 2000.0]"
...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,"(2000.0, 2005.0]"
16597,Men in Black II: Alien Escape,GC,"(2000.0, 2005.0]"
16598,SCORE International Baja 1000: The Official Game,PS2,"(2005.0, 2010.0]"
16599,Know How 2,DS,"(2005.0, 2010.0]"
16600,Spirits & Spells,GBA,"(2000.0, 2005.0]"

In [17]:
games_df['Year bin'].value_counts()

Year bin
(2005.0, 2010.0]    6328
(2000.0, 2005.0]    3790
(2010.0, 2015.0]    3538
(1995.0, 2000.0]    1618
(1990.0, 1995.0]     484
(2015.0, 2020.0]     348
(1980.0, 1985.0]     127
(1985.0, 1990.0]      85
(1975.0, 1980.0]       9
Name: count, dtype: int64

In [19]:
games_df['NA_Sales'].describe()

count    16598.000000
mean         0.264667
std          0.816683
min          0.000000
25%          0.000000
50%          0.080000
75%          0.240000
max         41.490000
Name: NA_Sales, dtype: float64

In [27]:
pd.qcut(games_df[games_df['NA_Sales']!=0]['NA_Sales'], 4).value_counts().sort_index()

NA_Sales
(0.009000000000000001, 0.06]    3174
(0.06, 0.14]                    3041
(0.14, 0.35]                    2937
(0.35, 41.49]                   2947
Name: count, dtype: int64

In [28]:
bin_labels = ['Bronze', 'Silver', 'Gold', 'Platinum']

In [29]:
games_df['Acheivement_Level'] = pd.qcut(games_df[games_df['NA_Sales']!=0]['NA_Sales'], q=4, labels=bin_labels)

In [30]:
games_df.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Year bin,Acheivement_Level
Rank,,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,"(2005.0, 2010.0]",Platinum
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,"(1980.0, 1985.0]",Platinum
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,"(2005.0, 2010.0]",Platinum
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,"(2005.0, 2010.0]",Platinum
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,"(1995.0, 2000.0]",Platinum

In [ ]:
games_df.iloc[100000:]