In [2]:
import pandas as pd
import numpy as np

In [3]:
games_df = pd.read_csv('video-game-sales.csv')

### Question 1

Find how many times video game names have been repeated in the rankings. (Hint: Think about duplicates)

In [4]:
games_df.set_index('Rank', inplace=True)

In [5]:
games_df.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
Rank,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00

### Question 1

Find how many times video game names have been repeated in the rankings. (Hint: Think about duplicates)

In [11]:
games_df[games_df['Name'].duplicated()]['Name'].value_counts()

Name
Need for Speed: Most Wanted            11
Madden NFL 07                           8
FIFA 14                                 8
LEGO Marvel Super Heroes                8
Ratatouille                             8
                                       ..
Anarchy Reigns                          1
Senran Kagura: Estival Versus           1
Splatterhouse                           1
Leisure Suit Larry: Magna Cum Laude     1
Spirits & Spells                        1
Name: count, Length: 2775, dtype: int64

### Question 2

The publishers Nintendo and Activision have merged to form a new company, Nintivision. Permanently update this information in the data set.

In [13]:
games_df['Publisher'] = games_df['Publisher'].replace({ 'Nintendo': 'Nintivision', 'Activision': 'Nintivision' })

In [21]:
(games_df['Publisher'] == "Nintivision").any()

True

### Question 3

Classify the games in the data set into Old School (released before 1990), New Wave (released between 1990 and 2014), and Futuristic (released after 2014).

In [41]:
bin_labels = ['Old School', 'New Wave', 'Futuristic']
bins = [1980, 1990, 2014, 2020]

In [42]:
games_df['Gen'] = pd.cut(games_df['Year'], bins=bins, labels=bin_labels)

In [46]:
games_df[(games_df['Year'] < 1990)]['Gen'].value_counts()

Gen
Old School    196
New Wave        0
Futuristic      0
Name: count, dtype: int64