## ML-Tea Inc Case Study Demonstration

ML-Tea Inc is fictional bottled tea maker that uses machine learning to gain an edge in their target market. It has collected data on tea preferences (sweetened / unsweetened) and demographic characteristics

***Goal***: Determine demographic factors for preferring unsweetened tea to support their targeted add campaign

In [1]:
## Import libraries and load the dataset
import pandas as pd
tea_df = pd.read_csv("MLTeaInc.csv")
tea_df.head()

   Gender  Married  Income  Age Preference
0       0        0   31779   46  Sweetened
1       1        1   32739   50  Sweetened
2       1        1   24302   46  Sweetened
3       1        1   64709   70  Sweetened
4       1        1   41882   54  Sweetened

Let's fit a simple logistic regression model

In [2]:
##To filter out any warnings
import warnings 
warnings.filterwarnings('ignore')

In [3]:
#Update our perference value to binary:
import numpy as np
tea_df['Preference'] = np.where(tea_df['Preference'] == "Sweetened", 0, 1)

#lets divide our data frame into the independent variables and the dependent varible 
y = tea_df['Preference']
X = tea_df.iloc[:, :-1] # All columns but the last Preference

#run a logisitic regression model and summarize it 
import statsmodels.api as sm
log_reg_sm = sm.Logit(y, sm.add_constant(X)).fit()
log_reg_sm.summary()

Optimization terminated successfully.
         Current function value: 0.282249
         Iterations 8

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:             Preference   No. Observations:                  100
Model:                          Logit   Df Residuals:                       95
Method:                           MLE   Df Model:                            4
Date:                Tue, 26 Dec 2023   Pseudo R-squ.:                  0.5928
Time:                        17:43:33   Log-Likelihood:                -28.225
converged:                       True   LL-Null:                       -69.315
Covariance Type:            nonrobust   LLR p-value:                 6.013e-17
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.6819      1.931     -0.353      0.724      -4.466       3.102
Gender        -0.7779      0.717     -1.085      0.278      -2.182       0.627
Married        0.1697      0.794      0.214      0.831      -1.387       1.727
Income         0.0003   6.33e-05      4.396      0.000       0.000       0.000
Age           -0.2282      0.052     -4.356      0.000      -0.331      -0.126
==============================================================================
"""

In [15]:
x = -0.682 - (0.7779 * 0)  + (0.17 * 0) + ( 10_000 * 0.0003) + ( 20 *  -0.228)

In [17]:
1 /( 1 + np.exp(-x))

0.09604176588208767

In [97]:
age = 20

In [98]:
income = 40_000

In [99]:
gender = 0

In [100]:
married = 1

In [101]:
B0 = -0.682
B1 = -0.7779
B2 = 0.17
B3 = 0.00027846
B4 = -0.228

In [102]:
X1 = B0 + (B1*gender) + (B2*married) + (B3*income) + (B4*age)

In [103]:
X1

6.0664

In [112]:
a1 = 1 /( 1 + np.exp(-X1))

In [113]:
age = 25

In [114]:
income = 40_000

In [115]:
gender = 0

In [116]:
married = 1

In [117]:
B0 = -0.682
B1 = -0.7779
B2 = 0.17
B3 = 0.00027846
B4 = -0.228

In [118]:
X2 = B0 + (B1*gender) + (B2*married) + (B3*income) + (B4*age)

In [119]:
X2

4.9264

In [120]:
a2 = 1 /( 1 + np.exp(-X2))

In [121]:
a1

0.9976858592404461

In [122]:
a2

0.9927996553942567

In [125]:
a1 - a2

0.004886203846189319

In [137]:
age = 40

In [138]:
income = 40_000

In [139]:
gender = 0

In [140]:
married = 1

In [141]:
B0 = -0.682
B1 = -0.7779
B2 = 0.17
B3 = 0.00027846
B4 = -0.228

In [142]:
X1 = B0 + (B1*gender) + (B2*married) + (B3*income) + (B4*age)

In [143]:
X1

1.5063999999999993

In [153]:
a3 = 1 /( 1 + np.exp(-X1))

In [145]:
age = 45

In [146]:
income = 40_000

In [147]:
gender = 0

In [148]:
married = 1

In [149]:
B0 = -0.682
B1 = -0.7779
B2 = 0.17
B3 = 0.00027846
B4 = -0.228

In [150]:
X2 = B0 + (B1*gender) + (B2*married) + (B3*income) + (B4*age)

In [151]:
X2

0.3664000000000005

In [154]:
a4 = 1 /( 1 + np.exp(-X2))

In [156]:
a3 - a4

0.22793826815505358