### Arithmetic Operations and Data Alignment

In [2]:
import pandas as pd
import numpy as np

In [7]:
ser1 = pd.Series([1,2,3])
ser2 = pd.Series([1,2,3], index=[1, 2, 3])

In [8]:
df = pd.DataFrame({'1': ser1, '2': ser2})
df

     1    2
0  1.0  NaN
1  2.0  1.0
2  3.0  2.0
3  NaN  3.0

#### Between Series and Scalars

In [9]:
ser1 + 5

0    6
1    7
2    8
dtype: int64

#### Between Series and Sequences (or Lists or Tuples)

In [14]:
ser2 = pd.DataFrame([1, 2, 3])
t = [3, 4, 5]

In [24]:
ser2 + np.array([t]).T

   0
0  4
1  6
2  8

In [25]:
ser2

   0
0  1
1  2
2  3