In [1]:
import pandas as pd
import numpy as np

In [2]:
ser1 = pd.Series([1, 2, 3])
ser2 = pd.Series([1, 2, 3], index=[1, 2, 3])

In [4]:
ser2

1    1
2    2
3    3
dtype: int64

In [7]:
ser1.add(ser2, fill_value=-100)

0   -99.0
1     3.0
2     5.0
3   -97.0
dtype: float64

#### Performing Ops between DataFrames

In [8]:
df1 = pd.DataFrame(np.random.rand(3, 3))
df1

          0         1         2
0  0.745557  0.153276  0.034357
1  0.739584  0.703197  0.190128
2  0.732282  0.441364  0.199558

In [9]:
df2 = pd.DataFrame(np.random.rand(3, 3), index=[1, 2, 3], columns=[1, 2, 3])
df2

          1         2         3
1  0.367129  0.353990  0.533282
2  0.187256  0.964393  0.810413
3  0.313897  0.662791  0.698798

In [10]:
df1 + df2

    0         1         2   3
0 NaN       NaN       NaN NaN
1 NaN  1.070327  0.544118 NaN
2 NaN  0.628620  1.163951 NaN
3 NaN       NaN       NaN NaN