### Descriptive Statistics
similar to arrays, there are many built-in functions for descriptive statistics on Series and DataFrame objects. such as:
1. count
2. sum
3. median
4. mean
5. std

In [2]:
import pandas as pd
import numpy as np

##### For a Series

In [3]:
ser1 = pd.Series(np.random.rand(100))
ser1

0     0.278672
1     0.317301
2     0.082502
3     0.887255
4     0.230391
        ...
95    0.263242
96    0.017109
97    0.809500
98    0.789058
99    0.765029
Length: 100, dtype: float64

In [4]:
ser1.describe()

count    100.000000
mean       0.492975
std        0.313719
min        0.004829
25%        0.223051
50%        0.485032
75%        0.785291
max        0.998001
dtype: float64

In [5]:
ser1.mean()

0.49297513304065643

### For a DataFrame

In [6]:
df = pd.DataFrame(np.random.rand(3, 3), columns=['a', 'b', 'c'], index=[1, 2, 3])
df

          a         b         c
1  0.847119  0.213035  0.694235
2  0.657201  0.428226  0.159299
3  0.516832  0.511926  0.380778

In [8]:
df.describe()

              a         b         c
count  3.000000  3.000000  3.000000
mean   0.673717  0.384396  0.411437
std    0.165762  0.154190  0.268782
min    0.516832  0.213035  0.159299
25%    0.587017  0.320631  0.270039
50%    0.657201  0.428226  0.380778
75%    0.752160  0.470076  0.537507
max    0.847119  0.511926  0.694235

In [12]:
df.describe().loc['25%']

a    0.587017
b    0.320631
c    0.270039
Name: 25%, dtype: float64

### Compute Summary Statistics

In [13]:
df2 = pd.DataFrame(np.random.rand(100 , 3))
df2

           0         1         2
0   0.584568  0.001340  0.794013
1   0.148273  0.313529  0.889962
2   0.481941  0.238225  0.260575
3   0.267888  0.689574  0.319068
4   0.233138  0.412697  0.257290
..       ...       ...       ...
95  0.178186  0.997407  0.432794
96  0.608962  0.887157  0.545038
97  0.110744  0.374780  0.851262
98  0.612107  0.484195  0.949638
99  0.925290  0.187892  0.587371

[100 rows x 3 columns]

In [14]:
df2.sum()

0    48.668244
1    53.145412
2    47.115663
dtype: float64

In [15]:
df2.sum(axis=1)

0     1.379922
1     1.351764
2     0.980741
3     1.276531
4     0.903125
        ...
95    1.608388
96    2.041157
97    1.336787
98    2.045940
99    1.700552
Length: 100, dtype: float64

#### Descriptive statistics
Let’s take an example of a Series named python_101 that contains grades of 100 students for the course ‘python_101’.

In [27]:
python_grades = pd.DataFrame(np.random.randint(50, 100, size=100), columns=['python_101'])
python_grades

    python_101
0           53
1           97
2           51
3           73
4           58
..         ...
95          74
96          83
97          76
98          64
99          64

[100 rows x 1 columns]

In [19]:
python_grades.describe().loc['min']

0    50.0
Name: min, dtype: float64