### Graded ASsignment 2

In [1]:
import pandas as pd
import numpy as np

In [2]:
air_df = pd.read_csv('AirBnB_NYC_2019.csv')

In [3]:
air_df.head()

,id,name,host_id,host_name,neighborhood_group,neighborhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
air_df.shape

(48895, 16)

In [5]:
air_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighborhood_group',
       'neighborhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

Find the number of unique neighborhoods where there are Airbnb listings.

In [14]:
air_df['neighborhood_group'].value_counts()

neighborhood_group
Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: count, dtype: int64

#### Average price
What is the average price of a private room in the Queens neighborhood group?

Note: Round off the answer to the nearest integer.

In [35]:
air_df[(air_df['neighborhood_group'] == "Queens") & (air_df['room_type'] == "Private room")]['price'].mean().round()

72.0

Who hosts the most expensive Airbnb on Staten Island neighborhood group?

In [37]:
air_df[(air_df['neighborhood_group'] == "Staten Island")].sort_values(by='price', ascending=False)

,id,name,host_id,host_name,neighborhood_group,neighborhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
22353,18051877,Victorian Film location,2675644,Alissa,Staten Island,Randall Manor,40.63952,-74.09730,Entire home/apt,5000,1,0,NaN,NaN,1,344
45572,34835762,Central Hall Colonial with Free Parking Bus EX...,252051657,Anastasios,Staten Island,Prince's Bay,40.53076,-74.20295,Entire home/apt,1250,14,0,NaN,NaN,1,23
6333,4623622,Victorian with Stunning Views of NYC Harbor,22506665,William,Staten Island,St. George,40.64571,-74.07835,Entire home/apt,1000,1,0,NaN,NaN,1,364
25386,20305160,Beach House Retreat. 15 minutes from Manhattan.,1715301,Mark,Staten Island,Fort Wadsworth,40.59546,-74.06092,Entire home/apt,800,7,0,NaN,NaN,3,365
3049,1798271,Spacious center hall colonial,9430973,Donna,Staten Island,Woodrow,40.53884,-74.19826,Entire home/apt,700,7,0,NaN,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29738,22856025,Newly Renovated Guest Room with Private Bath,34635838,Madeline,Staten Island,Bull's Head,40.60295,-74.17117,Private room,25,1,34,2019-05-16,2.06,2,0
34153,27083575,Happy home 2,158178970,Raquel,Staten Island,Randall Manor,40.62972,-74.12539,Private room,22,1,21,2019-07-04,1.77,3,261
957,375249,Enjoy Staten Island Hospitality,1887999,Rimma & Jim,Staten Island,Graniteville,40.62109,-74.16534,Private room,20,3,80,2019-05-26,0.92,1,226
29852,22977021,Spacious Room4 Rent Near Hospital in Staten Is...,46723570,Kartikeya,Staten Island,South Beach,40.58950,-74.09663,Shared room,20,4,1,2018-02-02,0.06,1,0
45646,34870577,Happy Home 3,158178970,Raquel,Staten Island,Randall Manor,40.63136,-74.12559,Shared room,13,1,9,2019-07-05,5.51,3,8

#### Suppose you are looking for an Airbnb for a few days in the Bronx neighborhood group. Below are the conditions the Airbnb must meet:
- 
Room type: 'Entire home/apt'- 

Price ran90 to 120$1- 20

Availability: 365 days of the year

How many Airbnb listings meet the given criteria?

In [67]:
ng_mask = air_df['neighborhood_group'] == "Bronx"
room_type_mask = air_df['room_type'] == 'Entire home/apt'
price_range_mask = (air_df['price'] >= 90) & (air_df['price'] <= 120)
availability_mask = air_df['availability_365'] == 365
min_nights_mask = air_df['minimum_nights'] == 365

rooms_df = air_df[ng_mask & price_range_mask & availability_mask & room_type_mask]
rooms_df.shape

(2, 16)

0        False
1         True
2        False
3         True
4         True
         ...
48890    False
48891    False
48892     True
48893    False
48894    False
Name: room_type, Length: 48895, dtype: bool