### Graded Assignment

In [1]:
import pandas as pd
import numpy as np

In [35]:
movies_df = pd.read_csv(r'movies_IMDB_dataset.csv')

In [36]:
movies_df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [37]:
movies_df.shape

(3853, 28)

1. Which of the following would you use to permanently drop the columns ["color", "director_facebook_likes", …"aspect_ratio", "plot_keywords"] from the DataFrame movies?

In [38]:

movies_df.drop(["color", "director_facebook_likes", "plot_keywords"], axis=1, inplace = True)

In [39]:
"plot_keywords" in movies_df.columns

False

2. What is the total count of movies made in the English language?

In [40]:
movies_df['language'].value_counts()

language
English       3671
French          37
Spanish         26
Mandarin        14
German          13
Japanese        12
Hindi           10
Cantonese        8
Italian          7
Portuguese       5
Korean           5
Norwegian        4
Thai             3
Persian          3
Danish           3
Dutch            3
Dari             2
Indonesian       2
Hebrew           2
Aboriginal       2
Arabic           1
Russian          1
Vietnamese       1
Dzongkha         1
Romanian         1
Zulu             1
Bosnian          1
Czech            1
Icelandic        1
Hungarian        1
Mongolian        1
Aramaic          1
Telugu           1
Kazakh           1
Maya             1
Filipino         1
Swedish          1
Name: count, dtype: int64

3. Find the movie with the highest profit. Estimate a movie’s profit by subtracting the column 'budget' from the column 'gross'.

Hint: You can add an additional column ‘profit’ to the DataFrame.

In [41]:
movies_df.columns

Index(['director_name', 'num_critic_for_reviews', 'duration',
       'actor_3_facebook_likes', 'actor_2_name', 'actor_1_facebook_likes',
       'gross', 'genres', 'actor_1_name', 'movie_title', 'num_voted_users',
       'cast_total_facebook_likes', 'actor_3_name', 'facenumber_in_poster',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [43]:
movies_df['profit'] =  movies_df['gross'] - movies_df['budget']

movies_df.sort_values(by='profit', ascending=False)

,director_name,num_critic_for_reviews,duration,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,profit
0,James Cameron,723.0,178.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,...,English,USA,PG-13,2.370000e+08,2009.0,936.0,7.9,1.78,33000,5.235058e+08
28,Colin Trevorrow,644.0,124.0,1000.0,Judy Greer,3000.0,652177271.0,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,...,English,USA,PG-13,1.500000e+08,2015.0,2000.0,7.0,2.00,150000,5.021773e+08
25,James Cameron,315.0,194.0,794.0,Kate Winslet,29000.0,658672302.0,Drama|Romance,Leonardo DiCaprio,Titanic,...,English,USA,PG-13,2.000000e+08,1997.0,14000.0,7.7,2.35,26000,4.586723e+08
2704,George Lucas,282.0,125.0,504.0,Peter Cushing,11000.0,460935665.0,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,...,English,USA,PG,1.100000e+07,1977.0,1000.0,8.7,2.35,33000,4.499357e+08
2748,Steven Spielberg,215.0,120.0,548.0,Dee Wallace,861.0,434949459.0,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,...,English,USA,PG,1.050000e+07,1982.0,725.0,7.9,1.85,34000,4.244495e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2147,Katsuhiro Ôtomo,105.0,103.0,101.0,Robin Atkin Downes,488.0,410388.0,Action|Adventure|Animation|Family|Sci-Fi|Thriller,William Hootkins,Steamboy,...,Japanese,Japan,PG-13,2.127520e+09,2004.0,336.0,6.9,1.85,973,-2.127110e+09
2136,Hayao Miyazaki,174.0,134.0,745.0,Jada Pinkett Smith,893.0,2298191.0,Adventure|Animation|Fantasy,Minnie Driver,Princess Mononoke,...,Japanese,Japan,PG-13,2.400000e+09,1997.0,851.0,8.4,1.85,11000,-2.397702e+09
2693,Lajos Koltai,73.0,134.0,0.0,Péter Fancsikai,9.0,195888.0,Drama|Romance|War,Marcell Nagy,Fateless,...,Hungarian,Hungary,R,2.500000e+09,2005.0,2.0,7.1,2.35,607,-2.499804e+09
3282,Chan-wook Park,202.0,112.0,38.0,Yeong-ae Lee,717.0,211667.0,Crime|Drama,Min-sik Choi,Lady Vengeance,...,Korean,South Korea,R,4.200000e+09,2005.0,126.0,7.7,2.35,4000,-4.199788e+09
2678,Joon-ho Bong,363.0,110.0,74.0,Kang-ho Song,629.0,2201412.0,Comedy|Drama|Horror|Sci-Fi,Doona Bae,The Host,...,Korean,South Korea,R,1.221550e+10,2006.0,398.0,7.0,1.85,7000,-1.221330e+10

What is the IMDb score for the movie ‘The Dark Knight’?

In [46]:
movies_df[movies_df['movie_title'] == "The Dark Knight"]['imdb_score']

64    9.0
Name: imdb_score, dtype: float64

What is the average IMDb score for the movies starring Leonardo DiCaprio as the first actor?

In [58]:
movies_df[movies_df['actor_1_name'] == "Leonardo DiCaprio"]['imdb_score'].mean().round()

7.0