## Function Application and Mapping

In [1]:
import pandas as pd
import numpy as np

#### Using NumPy Universal Functions on DataFrames.

In [2]:
df1 = pd.DataFrame(np.random.rand(3, 5))
df1

          0         1         2         3         4
0  0.931721  0.720905  0.164763  0.133814  0.338650
1  0.602628  0.430996  0.508875  0.470729  0.415997
2  0.994372  0.570089  0.164400  0.294618  0.883079

In [3]:
np.sum(df1)

0    2.528721
1    1.721990
2    0.838039
3    0.899161
4    1.637726
dtype: float64

In [7]:
np.sum(df1, axis=1)

0    2.289852
1    2.429226
2    2.906558
dtype: float64

### Using `Series.map()` for Numeric Computation.

In [11]:
ser1 = pd.Series(np.random.randn(10))
ser1

0    0.991690
1    0.864459
2   -0.557096
3   -0.845937
4   -0.293612
5    0.126962
6    0.437006
7    0.245460
8   -0.790741
9    0.211799
dtype: float64

In [13]:
ser1.map(lambda value: value + 1)
ser1

0    0.991690
1    0.864459
2   -0.557096
3   -0.845937
4   -0.293612
5    0.126962
6    0.437006
7    0.245460
8   -0.790741
9    0.211799
dtype: float64

In [21]:
ser1 = pd.Series({ 1: "The Hunger Games: Catching Fire", 2: "Titanic", 3: "Jurrasic World" })
ser1

1    The Hunger Games: Catching Fire
2                            Titanic
3                     Jurrasic World
dtype: object

In [22]:
ser1.map(lambda movie: len(movie.split(" ")))

1    5
2    1
3    2
dtype: int64

#### Using `DataFrame.apply()`

In [23]:
df1 = pd.DataFrame(np.random.rand(3, 2))
df1

          0         1
0  0.180031  0.814683
1  0.779223  0.785598
2  0.121423  0.428864

In [26]:
df1.apply(lambda arr: arr / arr.sum(), axis=1)

          0         1
0  0.180988  0.819012
1  0.497963  0.502037
2  0.220654  0.779346

In [29]:
df1.apply(lambda arr: arr / df1.sum().sum())

          0         1
0  0.057891  0.261971
1  0.250568  0.252618
2  0.039045  0.137906