## Modifying Data Frames

#### Updating DataFrame Values

Dataframes can be updated with the `loc()` function.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame(np.random.rand(3, 3), columns=['a', 'b', 'c'], index=[1, 2, 3])
df1

          a         b         c
1  0.649194  0.052745  0.719359
2  0.870465  0.138483  0.209740
3  0.771423  0.371474  0.165165

In [3]:
df1.loc[1, 'a'] = np.random.rand()
df1

          a         b         c
1  0.182017  0.052745  0.719359
2  0.870465  0.138483  0.209740
3  0.771423  0.371474  0.165165

### Creating new columns from an array.

In [5]:
df2 = pd.DataFrame(np.random.rand(3, 3), columns=['a', 'b', 'c'], index=[1, 2, 3])
df2

          a         b         c
1  0.705903  0.110831  0.705297
2  0.613496  0.551325  0.318158
3  0.871301  0.400177  0.222211