## Practice Problem

You are still working at a small bakery. They continue to need your help to analyze their weekly sales data.

Perform the analysis as follows:
1. What were the sales for all days for cupcakes and cookies?
2. What were the sales for all products on Monday, Wednesday, and Friday?
3. What were the sales for all days for products which had no sales on at lease one day?

In [2]:
import pandas as pd
import numpy as np

In [3]:
product_sales = pd.DataFrame({'Monday': [32, 152, 94, 0], 'Tuesday': [45, 109, 114, 0], \
                             'Wednesday': [15, 77, 85, 0], 'Thursday': [29, 85, 132, 0], \
                             'Friday': [63, 143, 101, 15], 'Saturday': [87, 211, 186, 25]}, \
                             index=['Cupcakes', 'Pie Slices', 'Brownies', 'Cookies'])

What were the sales for all days for cupcakes and cookies?

In [15]:
product_sales.loc[['Cupcakes', 'Cookies']].sum()

          Monday  Tuesday  Wednesday  Thursday  Friday  Saturday
Cupcakes      32       45         15        29      63        87
Cookies        0        0          0         0      15        25

What were the sales for all products on Monday, Wednesday, and Friday?

In [18]:
product_sales[["Monday", "Wednesday", "Friday"]]

            Monday  Wednesday  Friday
Cupcakes        32         15      63
Pie Slices     152         77     143
Brownies        94         85     101
Cookies          0          0      15

What were the sales for all days for products which had no sales on at least one day?

In [28]:
product_sales.loc[(product_sales == 0).any(axis=1)]

         Monday  Tuesday  Wednesday  Thursday  Friday  Saturday
Cookies       0        0          0         0      15        25