### Problem STatmeent

Let's assume you are back at the backery and they need your help again to analyze their weekly sales data.

1. A data entry error was made for Thursday's quantity of pie slices. Modify the value to 95.
2. The store wants to do some analysis on its saturday sales as well. On Saturday, 87 cupcakes, 211 pie slices, and 186 brownies were sold. Modify the DataFrame to include these data points.
3. The store decides to temporarily discard Thursday's sales from its data analysis. Remove this column without permanently removing it.
4. __Challenge__: The store just added Cookies to its product line-up selling _15_ on Friday and _25_ on Saturday. Modify the DataFrame to include these data points without using any type of append funciton. Use Logic instead.

In [1]:
import numpy as np
import pandas as pd

In [2]:
product_sales = pd.DataFrame({'Monday': [32, 152, 94], 'Tuesday': [45, 109, 114], \
                             'Wednesday': [15, 77, 85], 'Thursday': [29, 85, 132], \
                             'Friday': [63, 143, 101]}, \
                             index=['Cupcakes', 'Pie Slices', 'Brownies'])

In [3]:
product_sales

            Monday  Tuesday  Wednesday  Thursday  Friday
Cupcakes        32       45         15        29      63
Pie Slices     152      109         77        85     143
Brownies        94      114         85       132     101

##### 1.A data entry error was made for Thursday's quantity of pie slices. Modify the value to 95.

We can use `loc` attribute to locate the ___"Pie Slices"___ and then query ___"Thursday___. 
Assign the value 95 to the query.

In [16]:
product_sales.loc["Pie Slices", "Thursday"] = 95
product_sales

            Monday  Tuesday  Wednesday  Thursday  Friday
Cupcakes        32       45         15        29      63
Pie Slices     152      109         77        95     143
Brownies        94      114         85       132     101

##### 2. The store wants to do some analysis on its saturday sales as well. On Saturday, 87 cupcakes, 211 pie slices, and 186 brownies were sold. Modify the DataFrame to include these data points.

In [18]:
product_sales["Saturday"] = pd.Series({ "Cupcakes": 87, "Pie Slices":  211, "Brownies": 186 }, index=["Cupcakes", "Pie Slices", "Brownies"])
product_sales

            Monday  Tuesday  Wednesday  Thursday  Friday  Saturday
Cupcakes        32       45         15        29      63        87
Pie Slices     152      109         77        95     143       211
Brownies        94      114         85       132     101       186

##### 3. The store decides to temporarily discard Thursday's sales from its data analysis. Remove this column without permanently removing it.

In [24]:
no_thursday_df = product_sales.drop("Thursday", axis=1)

In [25]:
no_thursday_df

            Monday  Tuesday  Wednesday  Friday  Saturday
Cupcakes        32       45         15      63        87
Pie Slices     152      109         77     143       211
Brownies        94      114         85     101       186

#### Challenge: The store just added Cookies to its product line-up selling 15 on Friday and 25 on Saturday. Modify the DataFrame to include these data points without using any type of append funciton. Use Logic instead.

In [39]:
# product_sales.loc[["Cupcakes"], ["Friday", "Saturday"]] += [15, 25]

product_sales.loc["Cookies"] = pd.Series([15, 25], index=["Friday", "Saturday"])

product_sales

            Monday  Tuesday  Wednesday  Thursday  Friday  Saturday  Cookies
Cupcakes      32.0     45.0       15.0      29.0    93.0     137.0      NaN
Pie Slices   152.0    109.0       77.0      95.0   143.0     211.0      NaN
Brownies      94.0    114.0       85.0     132.0   101.0     186.0      NaN
Cookies        NaN      NaN        NaN       NaN    15.0      25.0      NaN