## Sorting and Ranking

Often times, you will want to sort your Series or DataFrame objects according to the contained data.

Primary methods for sorting:

- `ser.sort_values(ascending=True / False)`
- `df.sort_values(by=column(s), ascending=True / False)`

To re-sort your data structure to its original use `sort.index()` function.

In [1]:
import pandas as pd
import numpy as np

#### Series Sorting

In [2]:
ser1 = pd.Series(np.random.rand(10))
ser1

0    0.661693
1    0.139742
2    0.260599
3    0.642487
4    0.483621
5    0.345424
6    0.067102
7    0.163425
8    0.056478
9    0.025075
dtype: float64

In [9]:
ser1.sort_values(ascending=False)

0    0.661693
3    0.642487
4    0.483621
5    0.345424
2    0.260599
7    0.163425
1    0.139742
6    0.067102
8    0.056478
9    0.025075
dtype: float64

#### DataFrame Sorting.

In [11]:
df1 = pd.DataFrame(np.random.rand(3, 5))
df1

          0         1         2         3         4
0  0.373969  0.269052  0.886075  0.056739  0.018550
1  0.673180  0.854422  0.801239  0.207254  0.427276
2  0.024375  0.842026  0.667474  0.601113  0.842511

In [12]:
df1.sort_values(by=1)

          0         1         2         3         4
0  0.373969  0.269052  0.886075  0.056739  0.018550
2  0.024375  0.842026  0.667474  0.601113  0.842511
1  0.673180  0.854422  0.801239  0.207254  0.427276

In [17]:
df1.sort_values(by=0, ascending=False, axis=1)

          2         0         1         3         4
0  0.886075  0.373969  0.269052  0.056739  0.018550
1  0.801239  0.673180  0.854422  0.207254  0.427276
2  0.667474  0.024375  0.842026  0.601113  0.842511

### DataFrame Ranking

Values in a DataFrame can be ranked in multiple ways, such as by minimum.
- `axis = 0` (all rows, by column)
- `axis = 1` (all columns, by row)

In [18]:
df2 = pd.DataFrame(np.random.rand(3, 5))
df2

          0         1         2         3         4
0  0.264003  0.417919  0.809394  0.834299  0.343318
1  0.944261  0.662260  0.075957  0.498025  0.122356
2  0.406196  0.375502  0.652885  0.925323  0.558257

In [22]:
df2.rank(method='min', ascending=False, axis=1)

     0    1    2    3    4
0  5.0  3.0  2.0  1.0  4.0
1  1.0  2.0  5.0  3.0  4.0
2  4.0  5.0  2.0  1.0  3.0