In [1]:
day_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
 
apple_list = [172.19, 175.08, 175.53, 172.19, 173.07, 169.8, 166.23, 164.51, 162.41, 161.62, 159.78, 159.69, 159.22, 170.33, 174.78]
 
microsoft_list = [314.27, 314.98, 318.27, 304.8, 310.2, 302.65, 303.33, 301.6, 296.03, 296.37, 288.49, 296.71, 299.84, 308.26, 310.98]
 
meta_list = [328.07, 334.37, 333.26, 326.48, 331.9, 318.15, 319.59, 316.56, 303.17, 308.71, 300.15, 294.63, 294.64, 301.71, 313.26]
 
amazon_list = [3229.72, 3307.24, 3304.14, 3224.28, 3242.76, 3178.35, 3125.98, 3033.35, 2852.86, 2890.88, 2799.72, 2777.45, 2792.75, 2879.56, 2991.47]
 
tesla_list = [1058.12, 1064.4, 1106.22, 1031.56, 1049.61, 1030.51, 995.65, 996.27, 943.9, 930, 918.4, 937.41, 829.1, 846.35, 936.72]

In [2]:
# Importing the required library
import pandas as pd
 
# Defining the DataFrame
stocks = pd.DataFrame({'apple': apple_list, \
                       'microsoft': microsoft_list, \
                       'meta': meta_list, \
                       'amazon': amazon_list, \
                       'tesla': tesla_list}, \
                       index=day_list)
 
 
# Printing the DataFrame
stocks

     apple  microsoft    meta   amazon    tesla
1   172.19     314.27  328.07  3229.72  1058.12
2   175.08     314.98  334.37  3307.24  1064.40
3   175.53     318.27  333.26  3304.14  1106.22
4   172.19     304.80  326.48  3224.28  1031.56
5   173.07     310.20  331.90  3242.76  1049.61
6   169.80     302.65  318.15  3178.35  1030.51
7   166.23     303.33  319.59  3125.98   995.65
8   164.51     301.60  316.56  3033.35   996.27
9   162.41     296.03  303.17  2852.86   943.90
10  161.62     296.37  308.71  2890.88   930.00
11  159.78     288.49  300.15  2799.72   918.40
12  159.69     296.71  294.63  2777.45   937.41
13  159.22     299.84  294.64  2792.75   829.10
14  170.33     308.26  301.71  2879.56   846.35
15  174.78     310.98  313.26  2991.47   936.72

Which of the following will return the stock prices for the last 5 days?

In [3]:
stocks.tail()

     apple  microsoft    meta   amazon   tesla
11  159.78     288.49  300.15  2799.72  918.40
12  159.69     296.71  294.63  2777.45  937.41
13  159.22     299.84  294.64  2792.75  829.10
14  170.33     308.26  301.71  2879.56  846.35
15  174.78     310.98  313.26  2991.47  936.72

Write code to find the average price for each stock.

In [5]:
stocks.mean()

apple         167.762000
microsoft     304.452000
meta          314.976667
amazon       3042.034000
tesla         978.281333
dtype: float64

In [6]:
stocks.describe().loc['mean']

apple         167.762000
microsoft     304.452000
meta          314.976667
amazon       3042.034000
tesla         978.281333
Name: mean, dtype: float64

What is the maximum stock price for Amazon over the given period?

In [9]:
stocks['amazon'].max()

3307.24

Suppose a person purchases one stock of each company on Day 6. What would be the total value of their investment on that day?

In [11]:
stocks.loc[6].sum()

4999.46

In [18]:
stocks.corr().loc["tesla"]

apple        0.657138
microsoft    0.591854
meta         0.911109
amazon       0.905781
tesla        1.000000
Name: tesla, dtype: float64