## Employee Bonus Calculation

Suppose you work as an HR manager for the Technology and Delivery Departments of a startup.\
As part of an emloyee satisfaction initiave, you decide to provide bonuses to top 4 performing \
employees of both departments.

You have been provided below with an array for base salary and one for bonus below.

In [87]:
base_salary: list = [[3450, 2010, 1500, 4200], 
                     [4800, 6100, 4500, 3050]]

In [88]:
bonus: list = [600, 500, 400, 300]

In [89]:
import numpy as np

Converting base salary list to numpy array

In [90]:
base_salary_arr: np.array = np.array(base_salary)

#### Sorting and Adding bonus to the array.

1. Iterating the numpy array.
   - We will be iterating by the rows
   - `arr.shape` will give us the no of rows and columns.
   - Using the slicing we can get no of rows present in array.
   - Iterate using the range funciton.

3. Adding the bonus to array row.

In [95]:
bonus_salary_arr = np.zeros(base_salary_arr.shape).astype(int)
bonus_salary_arr

array([[0, 0, 0, 0],
       [0, 0, 0, 0]])

In [96]:
for i in range(base_salary_arr.shape[0]):
    bonus_salary_arr[i] =  base_salary_arr[i] + bonus

In [97]:
base_salary_arr

array([[3450, 2010, 1500, 4200],
       [4800, 6100, 4500, 3050]])

In [98]:
bonus_salary_arr

array([[4050, 2510, 1900, 4500],
       [5400, 6600, 4900, 3350]])

### Challenge

How many employees received bonuses worth more than 20% of their base salary?

In [130]:
bonus_percentage = (bonus / base_salary_arr) * 100

In [132]:
bonus_percentage[bonus_percentage > 20]

array([24.87562189, 26.66666667])

What is the highest net salary of an employee after rewarding bonuses?

In [134]:
bonus_salary_arr.max()

6600

Find the average salary of all employees of the company. (Round off the average salary to two decimal places.)

In [137]:
np.average(bonus_salary_arr)

4151.25

What is the total expense incurred by the company on bonuses?

In [139]:
np.sum(bonus_salary_arr - base_salary_arr)

3600